<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <div class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <%= month_calendar do |date| %>
      	<%= date.day %>
      	<% Event.all.order(:datetime).each do |e| %>
				  <% if e.datetime.strftime('%F') == date.to_s %>
				  	<%= link_to "#{e.name} #{e.datetime.strftime("%H:%M")}", event_path(e) %>
			  	<% end %>
		  	<% end %>
			<% end %>
    </aside>
  </div>
<% else %>
	<div class="center jumbotron">
	  <h1>Welcome to the Event Calendar</h1>

	  <h2>
	    This is the home page for the
	    <a href="http://www.railstutorial.org/">Event Calendar</a>.
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
<% end %>