<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <div class='col-md-9'>
      <% if params[:type] == 'user' %>
        <%= render "events/calendar", user: current_user %>
      <% else %>
        <%= render "events/calendar", user: nil %>
      <% end %>
    </div>
    <aside class="col-md-2">
      <div class="user_info">
        <%= link_to "Create a new event", create_path, class: 'form-control link-back' %>
        <% if current_user.events.any? %>
          <h3>Events (<%= current_user.events.count %>)</h3>
          <ol class="events">
            <%= render current_user.events.all %>
          </ol>
        <% end %>

      </div>
    </aside>
  </div>
<% else %>
	<div class="center jumbotron">
	  <h1>Welcome to the Event Calendar</h1>

	  <h2>
	    This is the home page for the
	    <a href="#">Event Calendar</a>.
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
<% end %>