<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% unless @user.name.nil? %>
        <h1>
          <%= @user.name %>
        </h1>
      <% end %>
      <h1>
        <%= @user.email %>
      </h1>
      <%= link_to "Create a new event", create_path, class: 'form-control link-back' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.events.any? %>
      <h3>Events (<%= @user.events.count %>)</h3>
      <ol class="events">
        <%= render @events %>
      </ol>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>